*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #e8e8ec !important;
}
main{
  font-size: 1rem;
  
}
.cart-p{
  font-size: 0.9rem;
  line-height: 60px;
  margin: 0;
  padding: 0 10px;
}
.sub-tot-sec{
  background-color: #fff;
}
.sub-tot-div{
  padding:0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.empty-cart-sec{
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
.start-btn{
  padding: 9px 80px ;
  color: white;
  border: none;
  border-radius: 6px;
  background: linear-gradient(110deg, rgba(250,206,7,1) 5%, rgba(250,206,7,1) 22%, rgba(250,243,7,1) 44%, rgba(250,206,7,1) 66%) ;
  font-weight: 700;
}
.check-outt{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 93%;
  text-align: center;
}
.a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  height: 95%; 
  font-size: medium;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.check-out-btn{
  width: 95%;
  border-radius: 30px;
  background-color: #d32100 ;
  color: #fff;
  border: none;
}
.footer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
 
}
.items-list{
  padding-top: 35px;
}
.empty-text-p1{
font-size: 0.9rem;
font-family:Arial, Helvetica, sans-serif;
line-height: 48px;
font-weight: bold;
}
.empty-text-p2{
  font-size: 0.8rem;
  font-family:Arial, Helvetica, sans-serif;
}
.clearCat{
  border:none;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d32100;
}
.clear-div{
  padding: 0 10px;
}
.cart-items{
  text-decoration: none;
}
.under-list li{
  list-style: none;
  height: 50px;
  text-align: left ;
  margin: 0;
  padding: 0 10px;
  background-color: #face07;
  margin-top: 10px;
  display: flex;
  align-items: center;
}


.under-list{
  margin: 0;
  padding: 0;
}
