*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
body{
  background-color: #e8e8ec !important;
}
header{
  background: linear-gradient(110deg, rgba(250,206,7,1) 5%, rgba(250,206,7,1) 22%, rgba(250,243,7,1) 44%, rgba(250,206,7,1) 66%) ;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom:93% ;
  font-size: 1.3rem;
  display: flex;
  justify-content: center; 
}
.header-div{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}
.header-nav{
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 1.7rem;
}
.header-nav a{
  color: #000;
}
main{
  margin-top: 50px;
}
.order-sum{
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 16px 8px;
}
.sum-mother{
  background-color: #fff;
  line-height: 35px;
  margin: 0 16px;
  padding:4px 0;
}
.item-sum{
  display: flex;
  justify-content: space-between;
}
.item-total{
  display: flex;
  justify-content: space-between; 
  background-color: #fff;
  height: 33px;
  align-items: center;
  margin-top: 1px;
  ;
}
.payment-sec{
  padding: 0 8px;
}
.payment-div{
  display: flex;
  justify-content: space-between;
  height: 34px;
  align-items: center;
}
.pt-md{
  padding: 0 8px;
}
.change{
  color:#face07 ;
}
.pay-mtd{
  display: flex;
  background-color: #fff;
  padding:  8px;
  align-items: center;
}
.pat{
  margin-top:2px ;
}
.radio-pay{
  padding-left: 40px;
}

.opay-img img{
 width: 40px;
}
.opay-writ{
  padding: 0 0 0 8px;
}
.opay-writ h4{
  font-size: 14px;
  margin: 0;
}
.opay-writ p{
  font-size: 11px;
  margin: 0;
  padding: 2px 0 0 ;
}