@font-face{src:url(asset/fonts/Dosis/Dosis-VariableFont_wght.ttf);
  font-family: jeremydosis;
  }
  @font-face{src:url(asset/fonts/Poppins/Poppins-ExtraBold.ttf);
    font-family: jeremypop;
    }
  *{
    box-sizing: border-box;
    /* font-family: jeremypop; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
.our{
  background-image: url(/asset/images/soup-bg.jpg);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our a{
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}
.men{
  color: #face07;
}

.free{
  box-shadow: -1px 5px 6px 7px rgb(0, 0, 0, 0.2);
  border-radius:9px;
 
}
.mother-food-head{
  background-color:rgb(250,206,7);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.food-head{
  color: #fff;
  animation: jeremy 5s linear infinite;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: center;box-shadow: 59px 58px 80px rgb(0, 0, 0, 0.2);
  background-color:rgb(0, 0, 0, 0.2) ;
  border-radius: 50%;
}
 /* .food-head{
  
    display: flex;
    height: 100%;
    background: linear-gradient(
      to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%
    );
    background-size: 500% auto;
    animation: animatedGradient 3s ease-in-out infinite;
    animation-play-state: running;
   
 } */

@keyframes jeremy{
  /* from{ transform: translateY(-350px);}
  to{ transform: translateY(350px);} */
  from{ transform: translateY(-10px);}
  to{ transform: translateY(13px);}
}
/* @keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */
.food-head:hover{
  animation-play-state: paused;
}
.hti{
  width:100%;
  /* padding: 0 20px; */
  background-color:rgb(250,206,7);
}
.flex-menu-table{
  display: grid;
  grid-template-columns: 85%  ;
  width: 100%;
  row-gap: 20px;
  margin-top: -1px;
  text-align: center;
  justify-content: center;
}

.successful-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

.hiddens {
  display: none;
}
.stew-menu-mother{
position: relative;
border-top-left-radius:10px ;
border-top-right-radius: 10px;
}
.stew-menu-child{
position: absolute;
background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  right: 0;
  top: 66%; 
}
.menu-img{
width: 100%;
height: 157px;
border-top-left-radius:10px ;
border-top-right-radius: 10px;
}
.food-title{
color: #fff;
text-decoration: underline;
font-size: 1.3rem;
}
/* .food-dtls{
  color: #fff;
font-size: 0.8rem;
} */
.list-divv{
  width: 100%;
  /* text-align: center; */
  
}
.input-radio{
  height:15px;
  width: 16px;
}
.btn-ord{
  width: 100%;
  background-color:#d32100 ;
  border: none;
  color: #face07;
}
.listing{
  background-color:rgb(250,206,7) ;
}
.sub-btn{
  border: none;
  border-radius: 10px;
  margin:5px 0;
  background-color:rgb(211,33,0) ;
  color: #fff;
  font-size: 1rem;
  padding:5px 20px;
  text-align: center;

}
/* CHECKING THINGS */

.wrapper{
  border-radius: 10px;
  /* box-shadow: 10px 5px 10px 5px rgb(0, 0, 0, 0.2); */
 text-align: center;
}
.wrapper .box{
  padding: 1px 5px;
 
}
.wrapper .box label{
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50px;
  margin: 10px 0;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}
.wrapper .box label:hover{
  background-color: lightgrey;
  cursor: pointer;
}
#option-1:checked ~ .option-1, #option-2:checked ~ .option-2, #option-3:checked ~ .option-3, #option-4:checked ~ .option-4, #option-5:checked ~ .option-1, #option-6:checked ~ .option-2, #option-7:checked ~ .option-3, #option-8:checked ~ .option-4,#option-9:checked ~ .option-1, #option-10:checked ~ .option-2, #option-11:checked ~ .option-3, #option-12:checked ~ .option-4,#option-13:checked ~ .option-1, #option-14:checked ~ .option-2, #option-15:checked ~ .option-3, #option-16:checked ~ .option-4,
#option-17:checked ~ .option-1, #option-18:checked ~ .option-2, #option-19:checked ~ .option-3, #option-20:checked ~ .option-4,
#option-21:checked ~ .option-1, #option-22:checked ~ .option-2, #option-23:checked ~ .option-3, #option-24:checked ~ .option-4,
#option-25:checked ~ .option-1, #option-26:checked ~ .option-2, #option-27:checked ~ .option-3, #option-28:checked ~ .option-4,
#option-29:checked ~ .option-1, #option-30:checked ~ .option-2, #option-31:checked ~ .option-3, #option-32:checked ~ .option-4,
#option-33:checked ~ .option-1, #option-34:checked ~ .option-2, #option-35:checked ~ .option-3, #option-36:checked ~ .option-4,
#option-37:checked ~ .option-1, #option-38:checked ~ .option-2, #option-39:checked ~ .option-3, #option-40:checked ~ .option-4,
#option-41:checked ~ .option-1, #option-42:checked ~ .option-2, #option-43:checked ~ .option-3, #option-44:checked ~ .option-4,
#option-45:checked ~ .option-1, #option-46:checked ~ .option-2, #option-47:checked ~ .option-3, #option-48:checked ~ .option-4{
  background-color:#d32100;
  border-color: #d32100;
}
.wrapper .box label .dot{
  height: 17px;
  width: 17px;
  background-color: #d9d9d9;
  border-radius: 50%;position: relative;
  transition: all 0.3s ease;
}

#option-1:checked ~ .option-1 .dot,#option-2:checked ~ .option-2 .dot,#option-3:checked ~ .option-3 .dot,#option-4:checked ~ .option-4 .dot,#option-5:checked ~ .option-1 .dot,#option-6:checked ~ .option-2 .dot,#option-7:checked ~ .option-3 .dot,#option-8:checked ~ .option-4 .dot,#option-9:checked ~ .option-1 .dot,#option-10:checked ~ .option-2 .dot,#option-11:checked ~ .option-3 .dot,#option-12:checked ~ .option-4 .do,#option-13:checked ~ .option-1 .dot,#option-14:checked ~ .option-2 .dot,#option-15:checked ~ .option-3 .dot,#option-16:checked ~ .option-4 .dott,#option-17:checked ~ .option-1 .dot,#option-18:checked ~ .option-2 .dot,#option-19:checked ~ .option-3 .dot,#option-20:checked ~ .option-4 .dott,
#option-21:checked ~ .option-1 .dot,#option-22:checked ~ .option-2 .dot,#option-23:checked ~ .option-3 .dot,#option-24:checked ~ .option-4 .dott,
#option-25:checked ~ .option-1 .dot,#option-26:checked ~ .option-2 .dot,#option-27:checked ~ .option-3 .dot,#option-28:checked ~ .option-4 .dott,
#option-29:checked ~ .option-1 .dot,#option-30:checked ~ .option-2 .dot,#option-31:checked ~ .option-3 .dot,#option-32:checked ~ .option-4 .dott,
#option-33:checked ~ .option-1 .dot,#option-34:checked ~ .option-2 .dot,#option-35:checked ~ .option-3 .dot,#option-36:checked ~ .option-4 .dott,
#option-37:checked ~ .option-1 .dot,#option-38:checked ~ .option-2 .dot,#option-39:checked ~ .option-3 .dot,#option-40:checked ~ .option-4 .dott,
#option-41:checked ~ .option-1 .dot,#option-42:checked ~ .option-2 .dot,#option-43:checked ~ .option-3 .dot,#option-44:checked ~ .option-4 .dott,
#option-45:checked ~ .option-1 .dot,#option-46:checked ~ .option-2 .dot,#option-47:checked ~ .option-3 .dot,#option-48:checked ~ .option-4 .dott{
 background-color: #fff;
}
.box label .dot::before{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius:50%;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot::before,#option-2:checked ~ .option-2 .dot::before,#option-3:checked ~ .option-3 .dot::before,#option-4:checked ~ .option-4 .dot::before,#option-5:checked ~ .option-1 .dot::before,#option-6:checked ~ .option-2 .dot::before,#option-7:checked ~ .option-3 .dot::before,#option-8:checked ~ .option-4 .dot::before,#option-9:checked ~ .option-1 .dot::before,#option-10:checked ~ .option-2 .dot::before,#option-11:checked ~ .option-3 .dot::before,#option-12:checked ~ .option-4 .dot::before,#option-13:checked ~ .option-1 .dot::before,#option-14:checked ~ .option-2 .dot::before,#option-15:checked ~ .option-3 .dot::before,#option-16:checked ~ .option-4 .dot::before,#option-17:checked ~ .option-1 .dot::before,#option-18:checked ~ .option-2 .dot::before,#option-19:checked ~ .option-3 .dot::before,#option-20:checked ~ .option-4 .dot::before,
#option-21:checked ~ .option-1 .dot::before,#option-22:checked ~ .option-2 .dot::before,#option-23:checked ~ .option-3 .dot::before,#option-24:checked ~ .option-4 .dot::before,
#option-25:checked ~ .option-1 .dot::before,#option-26:checked ~ .option-2 .dot::before,#option-27:checked ~ .option-3 .dot::before,#option-28:checked ~ .option-4 .dot::before,
#option-29:checked ~ .option-1 .dot::before,#option-30:checked ~ .option-2 .dot::before,#option-31:checked ~ .option-3 .dot::before,#option-32:checked ~ .option-4 .dot::before,
#option-33:checked ~ .option-1 .dot::before,#option-34:checked ~ .option-2 .dot::before,#option-35:checked ~ .option-3 .dot::before,#option-36:checked ~ .option-4 .dot::before,
#option-37:checked ~ .option-1 .dot::before,#option-38:checked ~ .option-2 .dot::before,#option-39:checked ~ .option-3 .dot::before,#option-40:checked ~ .option-4 .dot::before,
#option-41:checked ~ .option-1 .dot::before,#option-42:checked ~ .option-2 .dot::before,#option-43:checked ~ .option-3 .dot::before,#option-44:checked ~ .option-4 .dot::before,
#option-45:checked ~ .option-1 .dot::before,#option-46:checked ~ .option-2 .dot::before,#option-47:checked ~ .option-3 .dot::before,#option-48:checked ~ .option-4 .dot::before {
background-color: #333;
transform: translate(-50%,-50%) scale(1);
}
.wrapper .box label .text{
  color: #000;
  padding-left: 5px;
}
#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-4:checked ~ .option-4 .text,#option-5:checked ~ .option-1 .text,
#option-6:checked ~ .option-2 .text,
#option-7:checked ~ .option-3 .text,
#option-8:checked ~ .option-4 .text,#option-9:checked ~ .option-1 .text,
#option-10:checked ~ .option-2 .text,
#option-11:checked ~ .option-3 .text,
#option-12:checked ~ .option-4 .text,#option-13:checked ~ .option-1 .text,
#option-14:checked ~ .option-2 .text,
#option-15:checked ~ .option-3 .text,
#option-16:checked ~ .option-4 .text,
#option-17:checked ~ .option-1 .text,
#option-18:checked ~ .option-2 .text,
#option-19:checked ~ .option-3 .text,
#option-20:checked ~ .option-4 .text,
#option-21:checked ~ .option-1 .text,
#option-22:checked ~ .option-2 .text,
#option-23:checked ~ .option-3 .text,
#option-24:checked ~ .option-4 .text,
#option-25:checked ~ .option-1 .text,
#option-26:checked ~ .option-2 .text,
#option-27:checked ~ .option-3 .text,
#option-28:checked ~ .option-4 .text,
#option-29:checked ~ .option-1 .text,
#option-30:checked ~ .option-2 .text,
#option-31:checked ~ .option-3 .text,
#option-32:checked ~ .option-4 .text,
#option-33:checked ~ .option-1 .text,
#option-34:checked ~ .option-2 .text,
#option-35:checked ~ .option-3 .text,
#option-36:checked ~ .option-4 .text,
#option-37:checked ~ .option-1 .text,
#option-38:checked ~ .option-2 .text,
#option-39:checked ~ .option-3 .text,
#option-40:checked ~ .option-4 .text,
#option-41:checked ~ .option-1 .text,
#option-42:checked ~ .option-2 .text,
#option-43:checked ~ .option-3 .text,
#option-44:checked ~ .option-4 .text,
#option-45:checked ~ .option-1 .text,
#option-46:checked ~ .option-2 .text,
#option-47:checked ~ .option-3 .text,
#option-48:checked ~ .option-4 .text{
  color: #fff;
}
.wrapper .box input[type="radio"]{
  display:none ;
}
.sticky-div{
  background:linear-gradient(110deg, rgba(211,33,0,1) 0%, rgba(204,0,0,1) 91%);
  position: sticky;
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .sticky-div a{
  text-decoration: none;
  color: #000;
 }
 .child-cart{
  position: relative;
  margin-left: 9px;
 }
 .scond-chld-cart{
  margin-right: 7px;
 }
 .numb-count{
  position: absolute;
  top: 0;
  left:8%;
  background-color:#fff;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

 }
 .numb-count small{
  font-size: 0.8rem;
  
  display: flex;
  justify-content: center;
  color: #000;
 
 }
 .cart-img{
  font-size:30px ;
  color:#face07 
 }
 .amount-sml{
  margin-left: 8px;
 }
 .btn-checkout{ background-color:#face07;
  padding: 7px 20px;
  border: none;
  border-radius: 6px;
 }
 .bi-chevron-right{
  font-weight: bolder;
 }
