@font-face{src:url(/asset/fonts/Dosis/Dosis-VariableFont_wght.ttf);
font-family: jeremydosis;
}
@font-face{src:url(/asset/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-family: jeremypop;
  }
*{
  box-sizing: border-box;
  font-family: jeremypop;
}
body{
  
}
.omali{
  border-radius: 20px;
}
.container-fluid{
  border: none;
}
.view-page{
  background-image: url(/asset/images/vibrant-som-tum-salad-striking-red-backdrop_194498-20579.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  align-items: center; 
  /* background: rgb(211,33,0);
background: linear-gradient(110deg, rgba(211,33,0,1) 0%, rgba(204,0,0,1) 91%); */

}
.nav-bg{
  background: linear-gradient(110deg, rgba(250,206,7,1) 5%, rgba(250,206,7,1) 22%, rgba(250,243,7,1) 44%, rgba(250,206,7,1) 66%) !important;
}
.explore {
  font-size: 4.3rem;
  color:#fff;
  font-family: jeremypop;
  display: flex;
  
}
.explore h1{
  margin-top: 105px;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
 width: 100%;
  margin-top: 50px; 
}

.menu a{
  width: 32%;
  text-align: center;
  border: solid 3px rgb(250,206,7);
  font-size: 1.5rem;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;text-decoration: none;
}
.menu a:hover{
  color: #a69c64;
}
.gif-orde{
  width: 100%;
  position: relative;
}
.gif-orde img{
  width: 100%;
}
.order-now{
  position: absolute;
  bottom: 5%;
 left:31%;
}
.order-now a{
  text-decoration: none;
  
}
.order-now button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: rgb(250,206,7);
  text-transform: uppercase;
  background:linear-gradient(110deg, rgba(211,33,0,1) 0%, rgba(204,0,0,1) 91%);
  border-color: rgb(250,206,7);
  
}
.featured-section{
  margin-top: 10px;
}
.featured-section h1{
  text-align: center;
  
}
.food-main{
  margin-top: 10px;
}
.food-des-mai{
  font-size: 1.5rem;
  
  text-align: center;
}
.food-main img{
  height: 270px;
  border-radius: 120px;
}
.hed{
  display: flex;
  flex-direction: column;
}
.see-all-food{
  display: flex;
  align-items: center;
  justify-content: center;
 width: 100%;
  margin-top: 50px; 
  
}

.see-all-food a{
  width: 42%;
  text-align: center;
  border: solid 3px rgb(250,206,7);
  font-size: 1.5rem;
  border-radius: 9px;
  color: #fff;
  font-weight: bold;text-decoration: none;
  background:linear-gradient(110deg, rgba(211,33,0,1) 0%, rgba(204,0,0,1) 91%);
}










/* DESKTOP VIEW */
@media screen and (min-width:1024px){
  .explore{
   padding-left: 520px; 
  }
  .hed{
    display: flex;
    flex-direction: row;
  }
  
 


}
